.container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
}

.container li {
	cursor: pointer;
}
.box {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}

.actions {
	position: absolute;
	bottom: 50px;
	z-index: 20;
}

.post-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
